{% extends 'layout.html' %}

{% block content %}
  <section>
    <div class="container">
      {% if article.ID_ARTICLE %}
        <button id="delete">Supprimer</button>
        <a href="{{ base_url() }}/articles/edit/{{ article.ID_ARTICLE }}">Éditer</a>
        <img src="{{ article.IMAGE_ARTICLE }}">
        <p>{{ article.TITRE_ARTICLE }}</p>
        <p>{{ article.CATEGORIE_ARTICLE }}</p>
        <p>{{ article.DATE_ARTICLE }}</p>
        <p>{{ article.CORPS_ARTICLE }}</p>
        <p>{{ article.NOMBRE_VUE_ARTICLE }}</p>
        <p>{{ article.NOMBRE_LIKE_ARTICLE }}</p>
      {% else %}
        <p>C'est article n'existe pas, ou a été supprimé.</p>
      {% endif  %}
    </div>
  </section>

<script type="text/javascript">
$(document).ready(function() {

	var article_id = {{ article.ID_ARTICLE }};

	$('#delete').click(function(){
		var answer = prompt("Merci de recopier l'id "+article_id+" pour confirmer la suppression de l'article.");
		if (parseInt(answer) == article_id) {
			var url = "/articles/delete/"+article_id;

			app.DELETE(url)
				.done(function(res) {
					alert('Article supprimé.');
					window.location = '/articles';
				})
				.fail(function(res) {
					alert( "error" );
				})
		}
	});
});
</script>
{% endblock %}