{% extends 'layout.html' %}

{% block content %}
  <section class="row">
    {% if article.ID_ARTICLE %}
      <div class="col s12 img-wrapper">
        <img src="{{ article.IMAGE_ARTICLE }}">
      </div>
      <div class="col s12">
        <h1>{{ article.TITRE_ARTICLE }}</h1>
        <p class="article-infos">
          <span><i class="material-icons">visibility</i>{{ article.NOMBRE_VUE_ARTICLE }}</span>
          <span><i class="material-icons">favorite</i>{{ article.NOMBRE_LIKE_ARTICLE }}</span>
          —
          <span>{{ article.CATEGORIE_ARTICLE }}</span>
          —
          <span>{{ article.DATE_ARTICLE }}</span>
        </p>
        <button id="delete" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></button>
        <a href="{{ base_url() }}/articles/edit/{{ article.ID_ARTICLE }}" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">edit</i></a>
        <p class="article-body flow-text">{{ article.CORPS_ARTICLE }}</p>
      </div>
    {% else %}
      <p>C'est article n'existe pas, ou a été supprimé.</p>
    {% endif  %}
  </section>

<script type="text/javascript">
$(document).ready(function() {

	var article_id = {{ article.ID_ARTICLE }};

	$('#delete').click(function(){
		var answer = prompt("Merci de recopier l'id "+article_id+" pour confirmer la suppression de l'article.");
		if (parseInt(answer) == article_id) {
			var url = "/articles/delete/"+article_id;

			app.DELETE(url)
				.done(function(res) {
					alert('Article supprimé.');
					window.location = '/articles';
				})
				.fail(function(res) {
					alert( "error" );
				})
		}
	});
});
</script>
{% endblock %}