{% extends 'layout.html' %}

{% block content %}
  <section>
    <h1>Nouvel Article</h1>
    <form id="create" class="form-custom z-depth-1" style="margin-bottom: 0;">
      <p class="form-errors"></p>
      <div style="text-align: left">
        <input type="file" id="fileinput" accept="image/*"/>
        <input type="hidden" id="base64" disabled/>
      </div>
      <div class="input-field">
        <input type="text" id="new_title" required>
        <label for="new_title">Titre</label>
      </div>
      <div class="input-field">
        <textarea id="new_body" class="materialize-textarea" required></textarea>
        <label for="new_body">Texte</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Valider</button>
    </form>
  </section>

<script type="text/javascript">
$(document).ready(function() {

    var $base64 = $('#base64'),
		$formerrors = $('.form-errors');

	$('#fileinput').change(function() {
		var file = this.files[0];
		app.checkFileAndEncode(file, $base64, $formerrors);
	});

	$('form#create').submit(function(e) {
		e.preventDefault();

		var new_title = $('#new_title').val(),
			new_body = $('#new_body').val(),
			new_img = $base64.val();

		url = "/articles/new",
		data = {
			title: new_title,
			body: new_body,
			img64: new_img
		};
		
		app.POST(url, data)
			.done(function(res) {
				alert('Article créé.');
				window.location = '/articles';
			})
			.fail(function(res) {
				alert( "error" );
			});
	});
});
</script>
{% endblock %}