{% extends 'layout.html' %}

{% block content %}
<section>
  <h1>
    Évènements
    <button class="add-category btn-floating btn-large waves-effect waves-light blue modal-trigger" href="#add-event-modal"><i class="material-icons">add</i></button>
  </h1>
   <p>La date fonctionne mieux sur Chrome/OperaEdge et sur Mobile.</p>
  <ul class="collapsible" data-collapsible="accordion">
  {% for event in events %}
    <li id="{{ event.ID_EVENEMENT }}" class="event">
      <div class="collapsible-header"><i class="material-icons">event</i>[id: {{ event.ID_EVENEMENT }}] {{ event.NOM_EVENEMENT }}</div>
      <div class="collapsible-body">
        <form class="row" style="margin-bottom: 0;">
          <div class="col s6">
            <div class="input-field">
              <input type="text" id="new_name" required maxlength="100" value="{{ event.NOM_EVENEMENT }}">
              <label for="new_name">Nom</label>
            </div>
            <div class="input-field">
              <input type="text" id="new_location" required maxlength="100" value="{{ event.LIEU_EVENEMENT }}">
              <label for="new_location">Lieu</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <input id="new_start" type="datetime-local" value="{{ event.DEBUT_EVENEMENT }}" required>
              <label for="new_start" class="active">Date Début (yyyy-mm-ddThh:mm:ss)</label>
            </div>
            <div class="input-field">
              <input type="text" id="new_link" required maxlength="255" value="{{ event.LIEN_EVENEMENT }}">
              <label for="new_link">Lien Facebook</label>
          </div>
          </div>
          <div class="input-field col s12" style="text-align: right;">
            <button class="edit-event btn waves-effect waves-light"><i class="material-icons">check</i></button>
            <button class="delete-event btn waves-effect waves-light red"><i class="material-icons">delete</i></button>
          </div>
        </form>
      </div>
    </li>
  {% endfor %}
  </ul>

  <!-- TODO code dupliqué -->
  <div id="add-event-modal" class="modal">
    <div class="modal-content">
      <h4>Ajouter un évènement</h4>
      <form id="create-event" class="row" style="margin-bottom: 0;">
          <div class="col s6">
            <div class="input-field">
              <input type="text" id="new_name" required maxlength="100">
              <label for="new_name">Nom</label>
            </div>
            <div class="input-field">
              <input type="text" id="new_location" required maxlength="100">
              <label for="new_location">Lieu</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <input id="new_start" type="datetime-local" required>
              <label for="new_start" class="active">Date Début (yyyy-mm-ddThh:mm:ss)</label>
            </div>
            <div class="input-field">
              <input type="text" id="new_link" required maxlength="255">
              <label for="new_link">Lien Facebook</label>
            </div>
          </div>
        </form>
      <div class="modal-footer">
        <button class="create-event modal-action btn waves-effect waves-light"><i class="material-icons">check</i></button>
        <button class="modal-action modal-close btn-flat waves-effect waves-light">Annuler</button>
      </div>
    </div>
  </div>
</section>
      
<script type="text/javascript">
$(document).ready(function() {
	$('.modal').modal();

	$('.create-event').click(function(e) {
		e.preventDefault();
		var form = $(this).closest('.modal-content'),
			event_name = form.find('#new_name').val(),
			event_start = form.find('#new_start').val(),
			event_link = form.find('#new_link').val(),
			event_location = form.find('#new_location').val();
		
		var url = "/events/new",
			data = {
				name: event_name,
				start: event_start,
				link: event_link,
				location: event_location
			};
		
		app.POST(url, data)
			.done(function(res) {
				window.location = '/events';
			})
			.fail(function(res) {
				alert( "error" );
			});
	});
	
	$('.edit-event').click(function(e) {
		e.preventDefault();
		var event = $(this).closest('.event'),
			event_id = event.attr('id'),
			event_name = event.find('#new_name').val(),
			event_start = event.find('#new_start').val(),
			event_link = event.find('#new_link').val(),
			event_location = event.find('#new_location').val(),


		url = "/events/edit/"+event_id,
			data = {
				name: event_name,
				start: event_start,
				link: event_link,
				location: event_location
			};
		
		app.PUT(url, data)
			.done(function(res) {
				alert('Évènement modifié.');
				window.location = "/events";
			})
			.fail(function(res) {
				alert( "error" );
			});
	});
	
	$('.delete-event').click(function(e) {
		e.preventDefault();
		var event = $(this).closest('.event'),
			event_id = event.attr('id');

		if (event_id) {
			if (confirm("L'évènement sera définitivement supprimé ?")) {
				var url = "/events/delete/"+event_id;

				app.DELETE(url)
					.done(function(res) {
						event.remove();
					})
					.fail(function(res) {
						alert( "error" );
					})
			}
		} else {
			event.remove();
		}
	});
});
</script>
{% endblock %}
