{% extends 'layout.html' %}

{% block content %}
<section>
  <h1>
    Évènements
    <button class="add-category btn-floating btn-large waves-effect waves-light blue modal-trigger" href="#add-event-modal"><i class="material-icons">add</i></button>
  </h1>
   
  <ul class="collapsible" data-collapsible="accordion">
  {% for event in events %}
    <li id="{{ event.ID_EVENEMENT }}" class="event">
      <div class="collapsible-header"><i class="material-icons">event</i>[id: {{ event.ID_EVENEMENT }}] {{ event.NOM_EVENEMENT }}</div>
      <div class="collapsible-body">
        <form class="row" style="margin-bottom: 0;">
          <div class="col s6">
            <div class="input-field">
              <input type="text" id="new_location" required maxlength="100" value="{{ event.LIEU_EVENEMENT }}">
              <label for="new_location">Lieu</label>
            </div>
            <div class="input-field">
              <input type="text" id="new_description" required maxlength="100" value="{{ event.DESCRIPTION_EVENEMENT }}">
              <label for="new_description">Description</label>
            </div>
          </div>
          <div class="col s6">
            <div class="col s6">
              <div class="input-field">
                <input type="text" class="datepicker" id="new_xtart" required value=" ">
                <label for="new_start">Date début</label>
              </div>
              <div class="input-field">
                <input type="text" class="datepicker" id="new_end" required value=" ">
                <label for="new_end">Date fin</label>
              </div>
            </div>
            <div class="col s6">
              <div class="input-field">
                <input type="text" class="timepicker" id="new_start_time" required value=" ">
                <label for="new_start">Heure début</label>
              </div>
              <div class="input-field">
                <input type="text" class="timepicker" id="new_end_time" required value=" ">
                <label for="new_end">Heure fin</label>
              </div>
            </div>
          </div>
          <div class="input-field col s8">
            <input type="text" id="new_name" required maxlength="100" value="{{ event.NOM_EVENEMENT }}">
            <label for="new_name">Nom</label>
          </div>
          <div class="input-field col s4" style="text-align: right;">
            <button class="edit-event btn waves-effect waves-light"><i class="material-icons">check</i></button>
            <button class="delete-event btn waves-effect waves-light red"><i class="material-icons">delete</i></button>
          </div>
        </form>
      </div>
    </li>
  {% endfor %}
  </ul>

  <!-- TODO code dupliqué -->
  <div id="add-event-modal" class="modal">
    <div class="modal-content">
      <h4>Ajouter un évènement</h4>
      <form id="create-event" class="row" style="margin-bottom: 0;">
          <div class="col s6">
            <div class="input-field">
              <input type="text" id="new_location" required maxlength="100" value="{{ event.LIEU_EVENEMENT }}">
              <label for="new_location">Lieu</label>
            </div>
            <div class="input-field">
              <input type="text" id="new_description" required maxlength="100" value="{{ event.DESCRIPTION_EVENEMENT }}">
              <label for="new_description">Description</label>
            </div>
          </div>
          <div class="col s6">
            <div class="col s6">
              <div class="input-field">
                <input type="text" class="datepicker" id="new_xtart" required value=" ">
                <label for="new_start">Date début</label>
              </div>
              <div class="input-field">
                <input type="text" class="datepicker" id="new_end" required value=" ">
                <label for="new_end">Date fin</label>
              </div>
            </div>
            <div class="col s6">
              <div class="input-field">
                <input type="text" class="timepicker" id="new_start_time" required value=" ">
                <label for="new_start">Heure début</label>
              </div>
              <div class="input-field">
                <input type="text" class="timepicker" id="new_end_time" required value=" ">
                <label for="new_end">Heure fin</label>
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <input type="text" id="new_name" required maxlength="100" value="{{ event.NOM_EVENEMENT }}">
            <label for="new_name">Nom</label>
          </div>
        </form>
      <div class="modal-footer">
        <button class="create-event modal-action btn waves-effect waves-light"><i class="material-icons">check</i></button>
        <button class="modal-action modal-close btn-flat waves-effect waves-light">Annuler</button>
      </div>
    </div>
  </div>
</section>
      
<script type="text/javascript">
$(document).ready(function() {
	$('.datepicker').pickadate({
		selectMonths: true, // Creates a dropdown to control month
		selectYears: 5, // Creates a dropdown of 15 years to control year,
		today: 'Today',
		clear: 'Clear',
		close: 'Ok',
		closeOnSelect: true // Close upon selecting a date,
	});
	$('.timepicker').pickatime({
		default: 'now', // Set default time: 'now', '1:30AM', '16:30'
		fromnow: 0, // set default time to * milliseconds from now (using with default = 'now')
		twelvehour: false, // Use AM/PM or 24-hour format
		donetext: 'OK', // text for done-button
		cleartext: 'Clear', // text for clear-button
		canceltext: 'Cancel', // Text for cancel-button
		autoclose: true, // automatic close timepicker
		ampmclickable: true, // make AM PM clickable
		aftershow: function(){} //Function for after opening timepicker
	});
	
	$('.modal').modal();

	$('.create-event').click(function(e) {
		e.preventDefault();
		var form = $(this).closest('.modal-content'),
			event_name = form.find('#new_name').val(),
			event_description = form.find('#new_description').val(),
			event_location = form.find('#new_location').val();

		console.log(form);
		
		var url = "/events/new",
			data = {
				name: event_name,
				description: event_description,
				location: event_location
			};
		
		console.log(data);
		
		app.POST(url, data)
			.done(function(res) {
				window.location = '/events';
			})
			.fail(function(res) {
				alert( "error" );
			});
	});
	
	$('.edit-event').click(function(e) {
		e.preventDefault();
		var event = $(this).closest('.event'),
			event_id = event.attr('id'),
			event_name = event.find('#new_name').val(),
			event_description = event.find('#new_description').val(),
			event_location = event.find('#new_location').val(),


		url = "/events/edit/"+event_id,
			data = {
				name: event_name,
				description: event_description,
				location: event_location
			};
		
		app.PUT(url, data)
			.done(function(res) {
				alert('Évènement modifié.');
				window.location = "/events";
			})
			.fail(function(res) {
				alert( "error" );
			});
	});
	
	$('.delete-event').click(function(e) {
		e.preventDefault();
		var event = $(this).closest('.event'),
			event_id = event.attr('id');

		if (event_id) {
			if (confirm("L'évènement sera définitivement supprimé ?")) {
				var url = "/events/delete/"+event_id;

				app.DELETE(url)
					.done(function(res) {
						event.remove();
					})
					.fail(function(res) {
						alert( "error" );
					})
			}
		} else {
			event.remove();
		}
	});
});
</script>
{% endblock %}
