<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/libs/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/libs/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="{{ base_url() }}/libs/js/app.js"></script>
</head>
<body>
  <nav class="blue accent-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo tooltipped" data-position="bottom" data-tooltip="Accueil">
        <i class="material-icons">home</i>
      </a>
      {% if session %}
      <ul id="nav-mobile" class="right">
        <li>
          <a href="{{ base_url() }}/articles" class="tooltipped" data-position="bottom" data-tooltip="Articles">
            <i class="material-icons">library_books</i>
          </a>
        </li>
        <li>
          <a href="{{ base_url() }}/categories" class="tooltipped" data-position="bottom" data-tooltip="Catégories">
            <i class="material-icons">collections_bookmark</i>
          </a>
        </li>
        <li>
          <a href="{{ base_url() }}/apartments" class="tooltipped" data-position="bottom" data-tooltip="Appartements">
            <i class="material-icons">hotel</i>
          </a>
        </li>
        <li>
          <a href="{{ base_url() }}/events" class="tooltipped" data-position="bottom" data-tooltip="Évènements">
            <i class="material-icons">event</i>
          </a>
        </li>
        <li>
          <a href="{{ base_url() }}/bugs" class="tooltipped" data-position="bottom" data-tooltip="Bugs">
            <i class="material-icons">warning</i>
          </a>
        </li>
        <li>
          <a href="{{ base_url() }}/logout" class="tooltipped" data-position="bottom" data-tooltip="Déconnexion">
            <i class="material-icons">power_settings_new</i>
          </a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
  <div class= "container">
    {% block content %}{% endblock %}
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.tooltipped').tooltip({delay: 25});
    });
  </script>
</body>
</html>
